/* ユーザー情報テーブル */
.user-table {
  vertical-align: middle;
  text-align: center;
}

// ユーザー情報下ボタン
.btn-users-show{
  margin-bottom: 10px;
}

// ユーザー勤怠情報テーブル
#table-attendances{
  th{
    vertical-align: middle;
    text-align: center;
  }
  td{
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */
.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.btn-submit{
  margin-top: 10px;
}

.label-user--edit{
  margin-top: 5px;
}

.btn-user--edit{
  margin-top: 10px;
}

// ユーザー一覧
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
}

.search_form {
  overflow: auto;
  margin: 10px;
  float: right;
  .input-group {
    width: 300px;
    .form-control {
      width: 250px;
    }
    .btn {
      width: 50px;
    }
  }
}

.search{
  color: black;
  font-size: 20px;
  text-align: center;
}

/* ユーザー一覧編集 */
.userslist {
  padding: 10px;
  margin-bottom: 10px;
  color: inherit;
  background-color: #ecf0f1;
  border-radius: 4px;
}

.table-bordered{
  margin: 10px 0;
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}